.body {
  margin: 0;
  padding:0;
  max-width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  
    .pokeCard {
      display: flex;
      flex-direction: row;
      max-width: 100%;
      height: 100vh;
      flex-wrap: wrap;
      padding-top: 9%;

      .left {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 35vw;

        .header {
          display: flex;
          flex-direction: column;
          height: fit-content;
          align-items: center;

          .name {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            color: white;
            font-size: 2.5vw;
            height: fit-content;
            gap: 0.6rem;
            margin: 0;
            justify-content: center;
            .pokeNumber {
              color: white;
              font-size: 30%;
              position: relative;
              height: fit-content;
            }
          }

          .nameJp {
            color: rgba(0, 0, 0, 0.39);
            max-width:fit-content;
            font-size: 3.5rem;
          }
        }

        img {
          width: 45vh;
          height: auto;
        }

        .description {
          color: white;
          font-size: 1.8vh;
          line-height: 1.2em;
          width: 58%;
        }
      }

      .right {        
        display: flex;
        flex-direction: column;
        height: auto;
        align-items: center;
        max-width: 35vw;
        min-width: 26vw;

        .about{
          margin-bottom: 2rem;
          ul{
            color: white;
            list-style: none;
            font-size: 2vh;
            align-items: center;
            justify-content: center;
            display: flex;
            gap: 1.5vh;
            flex-direction: column;
            flex-wrap: wrap;

            .typeImg{
              height: 2rem;
            }
          }
        }

        .damage{
          ul{
            list-style: none;
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: center;
            flex-direction: column;
            flex-wrap: wrap;
            min-width: 100%;
            li{
              min-width: 10vw;
              display: flex;
              flex-direction: row;
              align-items: center;
              gap: 1vw;
              border-bottom: 0.1rem solid white;
              margin-bottom: 0.2rem;
              margin-top: 1.1rem;
              .damageImg{
                width: 100%;
                display: flex;
                justify-content: center;
                margin-bottom: 0.8rem;
                min-height: 3.4rem;
                img {
                  margin:0;
                  max-height: 3.5rem;
                }
              }
              
            }
          }
          
        }

        .evoTitle{
          display: block;
          font-size: 2rem;
        }
        .evoChain{
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          gap: 1em;
          align-items: center;
          .evo{
            display: flex;
            align-items: center;
            
            .evoCard{
              align-items: center;
              display: inherit;
              flex-direction: column;
              .evoChainImg{
                display: flex;
                height: 7.5vh;
                width: fit-content;
              }
              .evoChainType{
                display: block;
                padding-bottom: 0.5rem;
                height: 1.6rem;
              }
            }
          }
        }
        .pokeNumbers{
          font-size:2.2rem;
          height: fit-content;
          background-color: rgba(245, 237, 237, 0.09);
          width: 65%;
          border-radius: 1rem;
          color:white;
        }
      }
    }
}

// Bloco condicional
$backgroundImageColor: #FFF; // Definir a cor de fundo padrão
div[ngIf] {
  display: none;

  &.ng-tns-c10-1 {
    display: block;
  }
}

// Bloco de carregamento
h1 {
  font-size: 2.4rem;
}
