<ng-template #elseBlock>
  <div class="body" [style.background-color]="this.backgroundImageColor ">

    <div class="pokemon" style="position:relative ; z-index: index 3;">
      <div class="pokeCard">

        <div class="left">
          <div class="header">
            <h1 class="name" >
              <h3 class="pokeNumber">#{{pokemonBySpecie.pokedex_numbers[0].entry_number}}</h3>{{pokemon.name}}
              </h1>
              <h1 class="nameJp">{{findJpName()}}</h1>
          </div>

          <img src="{{getImage()}}" alt="">
          <div class="description" style="color:white"
          >
            {{getAbout()}}
          </div>
        </div>

        <div class="right">
          <div  class="pokeType">
            <img  *ngFor=" let type of pokemon.types" src="./assets/{{type.type.name}}Type.png" alt="">
            <div class="stats" style="color:white">
              <h3>Abilities: </h3>
              <div class="abilities">
                <h2 *ngFor="let abilities of pokemon.abilities">
                  {{abilities.ability.name}}</h2>
              </div>
                </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</ng-template>


<div *ngIf="!backgroundImageColor ; then thenBlock else elseBlock"></div>

  <ng-template #thenBlock (click)="this.cdr.detectChanges()"><h1> carregando</h1></ng-template>
