.body {
  margin: 0;
  padding:0;
  height: 100%;
  width: 100%;
  .pokemon {
    height: 100vh;
    .pokeCard {
      margin-inline: 2rem;
      display: flex;
      height: 100%;
      flex-direction: row;
      align-items: center;
      gap: 4rem;
      justify-content: center;

      .left {
        padding-top: 2rem;
       margin-left: 12.5rem;
        width: 35%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .header {
          display: flex;
          flex-direction: column;



          .name {
            display: flex;
            flex-direction: row;
            color: white;
            font-size: 3.5vw;
            gap: 1rem;
            .pokeNumber {
              color: white;
              font-size: 40%;
              position: relative;
            }
          }

          .nameJp {
            padding-top: 0.1em;
            color: rgba(0, 0, 0, 0.39);
            max-width:fit-content;
            font-size: 5.5rem;
          }
        }

        img {
          width: 48vh;
          height: auto;
        }

        .description {
          color: white;
          font-size: 2.5vh;
          line-height: 1.2em;
          width: 58%;
        }
      }

      .right {
        width: 50%;
        display: flex;
        flex-direction: column;
        height: auto;
        margin-left: 8rem;
        align-items: flex-start;
        margin-top: -20vh;

        .pokeType {
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          gap: 1rem;
          justify-content: center;
          align-items: center;
          img {
            margin-left: 5rem;
            max-width: 70%;
            max-height: 60%;
          }
          .stats {
            color: white;
            display: flex;
            flex-direction: column;
            margin-top: 1rem;
            margin-left: 5rem;
            align-items:center;

            h3 {
              font-size: 2.8rem;
              display: block;
            }
            .abilities{
              display: block;
              h2 {
                line-height: 1rem;
                font-size: 2rem;
              }
            }

          }
          .tabs {
            margin-top: 1.6rem;
            display: flex;
            align-items: center;
            justify-content: center;
          }

        }


        .pokeNumbers{
          font-size:2.2rem;
          height: fit-content;
          background-color: rgba(245, 237, 237, 0.09);
          width: 65%;
          border-radius: 1rem;
          color:white;
        }
      }
    }
  }
}

// Bloco condicional
$backgroundImageColor: #FFF; // Definir a cor de fundo padrão
div[ngIf] {
  display: none;

  &.ng-tns-c10-1 {
    display: block;
  }
}

// Bloco de carregamento
h1 {
  font-size: 2.4rem;
}
