/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;  /*Tira os Espaços de margem*/
  padding: 0; /*Tira o preenchimento interno*/
  box-sizing: border-box; /*limita o tamanho da caixa, atua no padding, defini um tamanho fixo*/
}
h1,h2,h3{
  margin: 0;
}
:root {
    --hue: 190;
    --fire-gradient:rgb(151, 76, 30) 0%, rgb(231, 118, 37) 35%, rgb(233, 117, 22) 96%;
    --water-gradient:rgb(113, 129, 216) 0%,rgb(106, 114, 145) 35%, rgb(32, 109, 225) 96%;
    --grass-gradient:rgb(3, 82, 44) 0%, rgb(23, 182, 68) 35%, rgb(21, 234, 39) 100%;
    --bug-gradient:rgba(0,0,8,1) 0%, rgba(6,64,11,1) 17%, rgba(21,227,79,1) 80%;
    --dark-gradient:rgba(0,0,8,1) 0%, rgba(23,1,19,1) 17%, rgba(29,4,29,1) 80%;
    --ghost-gradient:rgba(0,0,8,1) 0%, rgba(41,12,36,1) 17%, rgba(156,0,156,1) 80%;
    --flying-gradient:rgba(0,0,8,1) 0%, rgba(152,143,255,1) 17%, rgba(171,178,255,1) 80%;
    --fighting-gradient:rgb(52, 43, 2) 0%, rgba(80,59,35,1) 17%, rgba(227,129,16,1) 80%;
    --poison-gradient:rgba(92,4,81,1) 0%, rgba(136,14,126,1) 17%, rgba(200,8,189,1) 80%;
    --electric-gradient:rgba(218,219,100,1) 0%, rgba(230,222,40,1) 17%, rgba(230,235,15,1) 80%;
    --ground-gradient:rgba(218,219,100,1) 0%, rgba(195,188,24,1) 17%, rgba(191,195,0,1) 80%;
    --rock-gradient:rgb(207, 207, 201) 0%, rgba(147,145,114,1) 17%, rgba(204,204,185,1) 80%;
    --psychic-gradient:rgb(188, 89, 127) 0%, rgb(232, 121, 160) 17%, rgb(233, 105, 126) 80%;
    --ice-gradient:rgba(161,206,222,1) 0%, rgba(121,203,232,1) 17%, rgba(105,198,233,1) 80%;
    --steel-gradient:rgba(203,203,203,1) 0%, rgba(158,151,151,1) 17%, rgba(174,179,177,1) 80%;
    --dragon-gradient:rgba(203,203,203,1) 0%, rgba(108,28,187,1) 17%, rgba(130,15,212,1) 80%;
    --fairy-gradient:rgba(244,183,227,1) 0%, rgba(238,191,233,1) 17%, rgba(249,138,231,1) 80%;
    --normal-gradient:rgba(203,203,203,1) 0%, rgba(158,151,151,1) 17%, rgba(174,179,177,1) 80%;

    --headline: hsl(210, 80%, 98%);
    --paragraph: hsl(216, 38%, 97%);
    font-family: 'Tilt Neon', cursive;
    font-size: 62.5%; /* 1rem = 10px */

}

html {
  /* chrome://flags/#smooth-scrolling */
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
}

body {
  font-family: 'DM Sans';
  font-size: 1.6rem;

  text-align: center;

  overflow: overlay;

  background-color: rgb(18, 18, 20);
}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100vh; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
